[2018-11-13 21:30] jwhitlark opened #1 "Adopt Raynes/fs"
https://github.com/Raynes/fs

[2018-11-13 22:11] borkdude opened #2 "What's the status of 4clojure?"
What is the current state of [4clojure](http://4clojure.com)? Who is maintaining it? If it's not actively maintained, would it be something for clj-commons to take over? The [repo](https://github.com/4clojure/4clojure) seems pretty silent.

[2018-11-13 23:15] danielcompton commented on #2
https://www.reddit.com/r/Clojure/comments/4vnedz/4clojure_just_passed_a_million_problems_solved/ I think it's mainly just considered done. I can't find the conversation (think it was on Reddit), but IIRC Alan Malloy wanted to continue ownership of it, though he wasn't planning on putting a lot of time into it. You can talk to him and see if he is interested in transferring it, but I suspect he may

[2018-11-15 05:41] slipset commented on #1
Done :)

[2018-11-15 05:41] #1 closed

[2018-11-15 11:29] borkdude opened #3 "yesql"
https://github.com/krisajenkins/yesql

[2018-11-15 11:29] borkdude opened #4 "lumo"
https://github.com/anmonteiro/lumo

[2018-11-15 11:40] plexus opened #5 "cloverage"
Code coverage analysis tool.

There's an old thread where the original author indicates not having much time for it anymore. It has since been transfered to the cloverage Github org in an attempt to "Give it to the community", but my impression is that mostly issues have been building up. This could certainly use a bit of dedicated bug triaging and general maintenance work.

https://github.com/clo

[2018-11-15 12:34] slipset commented on #3
I have a feeling this has been superseded by https://github.com/jkk/honeysql
Please close if you agree.

[2018-11-15 12:36] borkdude commented on #3
Well, I proposed once to Kris to add something in the README that this lib has been superseded by HugSQL (https://hugsql.org). HoneySQL is a different beast. But there may be people still using yesql. Anyway, if they don't want it, I'm fine with it too :-).

[2018-11-15 12:36] #3 closed

[2018-11-16 11:05] #5 closed

[2018-11-21 20:23] royalaid opened #6 "flatland repos"
Per https://github.com/circleci/clj-yaml/issues/22 it appears that flatland's repo's are unmaintained and would probably make sense inside clj-commons

[2018-11-22 00:13] danielcompton commented on #6
I've sent Alan Malloy an email to see what he thinks.

[2018-12-01 09:13] martinklepsch opened #7 "clj-ssh"
https://github.com/hugoduncan/clj-ssh

Seems unmaintained but useful to the community. Regularly has 1000+ downloads.

At the time of writing:

- 4 out of 6 PRs are trivial to merge/close
- 22 open issues with no labels (needs triage)

[2018-12-01 09:16] martinklepsch commented on #1
@slipset Users can't open issues against https://github.com/clj-commons/fs

Also consider not forking a repo using GitHubs fork feature in the future. In my experience that has always caused trouble when the intention was to establish a new canonical location.

[2018-12-01 09:19] slipset commented on #1
Issues should be enabled now. As for the forking, in this very case, as Raynes has passed away, there is no one with access to the original repo, and thus it’s not possible to transfer the repo.

Erik.
--
i farta

[2018-12-01 11:34] martinklepsch commented on #1
@slipset Thanks. While a transfer is the best option you can also just push a repo to a GitHub remote (not using GitHub's Fork button) and the "forked from" subtitle will be gone. I think for a new canonical repository this would be desirable.

[2018-12-02 21:55] danielcompton commented on #1
I've just re-pushed this as a canonical repository. As a side note, what is the lineage of this version fs? It has akvo/fs as the group ID, was that where this was forked from?

[2018-12-02 23:51] slipset commented on #1
It was transferred from akvo, yes.

[2018-12-04 22:12] danielcompton opened #8 "Naming the maintenance project"
I think it would be useful to have a name to give to this sub-project of cli-commons which maintains libraries and tools when the original maintainer doesn't have time for them anymore. I have a few ideas, but am not in love with any of them. Ideas welcome!

* Nursery
* Resthome
* Archive
* Maintenance Shed
* Second Wind

[2018-12-04 22:13] danielcompton commented on #6
I'm talking with Alan about this now, it was held up by me not responding over a holiday break.

[2018-12-04 22:35] slipset commented on #8
Just so I understand, you're suggesting renaming `wishlist` to any of the above?

[2018-12-05 01:54] danielcompton commented on #8
Not really this specific repo, but the general umbrella term for the work of taking over maintenance of existing libraries when their maintainers have moved on.

[2018-12-06 02:40] danielcompton commented on #6
https://github.com/clj-commons/useful
https://github.com/clj-commons/ordered
https://github.com/clj-commons/ring-gzip-middleware
https://github.com/clj-commons/ring-buffer

have all been transferred to CLJ Commons!

[2018-12-06 02:40] #6 closed

[2018-12-06 12:00] slipset opened #9 "Adopt clj-yaml"
https://github.com/lancepantz/clj-yaml

[2018-12-06 12:01] slipset commented on #9
I've sent Lance an email asking if he'd be interested in letting us adopt it.

[2018-12-06 12:57] ikitommi commented on #9
There is https://github.com/circleci/clj-yaml too.

[2018-12-06 13:51] slipset commented on #9
I'm aware of that, it was in fact @marcomorain from CircleCi who made me aware of this lib.

[2018-12-06 14:20] marcomorain commented on #9
👍 on this. As long as we can have someone at CircleCI with commit bit on the repo, we 💯 support this.

[2018-12-07 07:54] jcf commented on #8
Couple of ideas:

Adoption, assist, continue, renew, extend…

If I understand what the name is supposed to convey, you want to communicate that we’re prolonging and renewing. Archiving or rest homing suggest an end to something, whereas this is an extension and something positive.

I would note at least one issue in this repo appears to relate to a maintained library… not sure how best to handle t

[2018-12-08 17:27] BrunoBonacci opened #10 "Happy to maintain/contribute for clj-commons/ring-buffer"
Hi,
I'm happy to carry on the maintenance of `clj-commons/ring-buffer`.
I use this library extensively in many of my own projects/libraries so I'm happy to
maintain it for the foreseeable future.

[2018-12-08 18:51] slipset commented on #10
Hi Bruno,

That's great news. I've added you as a collaborator on that project. Please let me know if there is something that doesn't work out for you.

Erik.

[2018-12-08 18:51] #10 closed

[2018-12-08 19:46] slipset commented on #7
I've reached out to @hugoduncan

[2018-12-08 23:44] BrunoBonacci commented on #10
Hi @slipset,

thanks very much for adding me. Now there is a couple of things to clarify.

1) new releases should be published with a new maven/group-id or the original group-id?
for example, if I cut a new release for `ring-buffer` and publish in the Clojars should this new release
be `amalloy/ring-buffer` or `clj-commons/ring-buffer`? either way, I need access to the Clojars organizations/projec

[2018-12-09 02:30] danielcompton commented on #10
Hi @BrunoBonacci, it's weekend here for me, but I've discussed both of these with Alan, will update this tomorrow.

[2018-12-09 21:49] danielcompton commented on #10
Hi @BrunoBonacci

I've added you to the CODEOWNERS file for ring-buffer.

We've talked about this a bit on Slack in #clj-commons and I'm of the opinion that where possible, it is better to preserve the original Group ID. It keeps the continuity of the original project and makes it clear that CLJ Commons is a continuation of the original project. It also cuts down on the number of forks of a projec

[2018-12-10 09:45] codeasone opened #11 "vizdeps"
https://github.com/walmartlabs/vizdeps isn't getting enough love.

Usage of this tooling is presently limited to lein `2.7.1` and [simple PRs](https://github.com/walmartlabs/vizdeps/pull/12) to address this are presently being ignored.

[2018-12-10 10:40] danielcompton commented on #11
When the existing maintainers are still around, I'm a little bit hesitant to fork like this, especially when there are somewhat recent commits. If they would like to transfer maintenance over to CLJ Commons then that would be great, but I'd like to talk to them first to get their thoughts.

Forking a project is at some level a slightly aggressive act, so we shouldn't do it lightly.

[2018-12-10 10:43] codeasone commented on #11
Hi @danielcompton, of course I understand and agree.

[2018-12-12 08:51] PEZ opened #12 "rewrite-cljs"
[rewrite-cljs](/rundis/rewrite-cljs) is a library I constantly find being used by libraries I use. It is almost a plugin-replacement of [rewrite-clj](/xsc/rewrite-clj).

The project seems rather abandoned, issues not being commented. I think it is WAY too important to leave in that state.

It might not be that it should be made a clj-commons project, as maybe what would be best is to make `rewrite

[2018-12-15 14:02] lread commented on #12
I would consider helping with this. I think [the authors of both rewrite-clj and rewrite-cljs agree a merge is interesting but neither has the time](https://github.com/xsc/rewrite-clj/issues/4).

[2018-12-15 14:33] slipset commented on #12
I can contact @rundis and see what he thinks.

[2018-12-15 16:16] lread commented on #12
It might be interesting to contact @xsc as well, [he was at one pointing look for a new maintainer](https://github.com/xsc/rewrite-clj/issues/4#issuecomment-189284923).

[2018-12-15 16:47] cnuernber commented on #11
We have found this project to be crucial when you have a very large system with, for instance, a ton of apache dependencies and something doesn't work.

My vote would be to wait 1 week.  If a discussion ensues then we move forward that way and if no discussion ensues then we hard-fork and put proper attribution in the readme.  I would be happy to help (or 'just do it') bring this one completely up

[2018-12-15 16:53] cnuernber opened #13 "gorilla-repl and friends"
Gorilla repl is both promising and far behind the times in terms of its renderer support for vega.  Vega is now onto version 3 and gorilla is supporting version 1.

There have been small-ish updates (readme and such) to the project while valid PR's sit so this looks like initial stages of abandonware.

This system is useful in a broad set of use cases but especially doing stats and ML work.  But c

[2018-12-15 17:03] cnuernber commented on #13
Closing this.  Oz looks to be the way forward and it is being actively maintained.

https://github.com/metasoarous/oz

[2018-12-15 17:03] #13 closed

[2018-12-15 22:56] hlship commented on #11
I have no problems whatsoever. I haven’t had any spare cycles for vizdeps and it could certainly use some TLC ... and I would have no problem contributing to the new project or redirecting people from the old.

In terms of PRs ... that's on me, not having good notifications set up.

But, yes, fork away.

[2018-12-15 22:59] hlship commented on #11
... I was just about to merge those PRs and found out that the Open Source team at Walmart has removed my privs on vizdeps, so I can't do anything until they fix that.

[2018-12-16 06:35] danielcompton commented on #11
This is now available at https://github.com/clj-commons/vizdeps.

[2018-12-16 06:35] #11 closed

[2018-12-16 22:51] hlship commented on #11
The loss of access is a temporary oversight, rather than a more serious policy issue. Regardless, I’m on board with the fork.

[2018-12-17 17:48] danielcompton commented on #4
Yeah, for CLJ Commons to adopt Lumo, I'd like to see someone (or maybe a few people) volunteer who can commit to maintaining it for some time, ideally with at least one person who has contributed to Lumo before.

[2018-12-18 02:08] iku000888 commented on #4
I think we should acknowledge that maintaining lumo is going to be a lot of work, so I would like to throwout some clojuriststogether ideas.

## Idea 1

A clojuriststogether project that funds a past lumo contributor.

## Idea 2

Pay Antonio for a series of recorded group(future volunteers) coding sessions working on lumo, ideally showing how a newbie would familiarize to the codebase along with p

[2018-12-18 04:35] arichiardi commented on #4
I can only share the sentiment of it being quite some amount of work and I had at some point different ideas on how to get rid of at least the embedding of the whole node runtime...however I never got close to POC that.
The moving parts are many, not that it wouldn't be doable and it is a stretch as one person project IMHO but I would love for it to stay alive.

[2018-12-18 19:43] danielcompton opened #14 "Governance of maintained projects"
@hlship raises some good questions about how to vizdeps should be managed, and also more generally how CLJ Commons projects should be managed: https://github.com/clj-commons/vizdeps/issues/5.

* What is the PR review protocol? For example, is one review enough, or should changes be reviewed by two committers?
* Is there a CLA?
* Who determines when to perform a release?
* Who is responsible for th

[2018-12-18 19:59] danielcompton commented on #14
I'm not sure what a CLA would buy us here? We would retain the ability to relicense the codebase (perhaps to EPL 2.0 + GPL compat), but if we're adopting an existing project that doesn't have a CLA then we would still need to get copyright assignment from all previous contributors too.

There are some good arguments against CLA's here: https://www.joyent.com/blog/broadening-node-js-contributions.

[2018-12-19 18:20] cnuernber commented on #14
My recommendation is to have one person solely responsible for any given project.  They can delegate however they like but at the end they are responsible for maintaining the project and for finding a new maintainer should they start to get tire of the responsibility.  Err on the side of more relaxed in the beginning I think as this will provide early growth.

Aside from that there can be some lev

[2018-12-19 18:47] hlship commented on #14
I'm fine without a CLA, but I think it's important that we ensure that PRs assign copyright to ... _someone_.

I generally do my releases manually; I hand edit project.clj, do the tags and push, then the release to clojars.  I don't see that as a big obstacle; it would be cool if we could get a CI to do it automatically when there was a new version, but that's a scaling issue that we don't really

[2018-12-21 18:34] bbatsov commented on #14
Why so? Unless you plan to re-license a project that's pointless. And because the existing code probably didn't do this assigning the copyright to someone won't get us far.

The only reason why Clojure has it's special licensing is so that they can relicense it whenever they feel like it, which probably makes sense for a project of that magnitude, but probably doesn't make sense for small librarie

[2018-12-27 20:34] charignon opened #15 "Conch"
https://github.com/Raynes/conch is unfortunately unmaintained, see [this issue](https://github.com/Raynes/conch/pull/45) for context 😢.
The most up to date fork seems to be https://github.com/damiencollard/conch.
Could you let me know how I can help to migrate it under `clj-commons`?

@damiencollard, @jafingerhut, @grinderrz : FYI

[2019-01-03 17:33] slipset commented on #9
Haven't heard anything from @lancepantz, so I guess the way forward would be to transfer https://github.com/circleci/clj-yaml, and publish the artifacts under `clj-commons`?

[2019-01-03 17:35] slipset commented on #9
@marcomorain I've invited you to `clj-commons` so you should be able to transfer the repo

[2019-01-04 10:58] marcomorain commented on #9
@slipset can you fork from `circleci/` into `clj-commons/`? If I want to transfer ownership of a repo under `circleci/` I'll have to do some unknown quantity of internal bureaucracy :)

[2019-01-04 14:16] slipset commented on #9
Forked :)

[2019-01-04 14:17] #9 closed

[2019-01-04 18:40] slipset commented on #7
It's on it's way :)

[2019-01-04 18:42] slipset commented on #15
@danielcompton would you like to try to transfer Raynes original version via Github, or should we seek to transfer/fork @damiencollard's version?

[2019-01-05 09:33] damiencollard commented on #15
@charignon @slipset I haven't used Clojure in a long while and have no interest in conch anymore... You're of course welcome to fork my version.

[2019-01-05 15:02] slipset commented on #15
Hi @damiencollard,

I've added you as a member to clj-commons, so you should be able to transfer conch to us.
Let me know if you encounter any problems

[2019-01-07 09:19] shen-tian opened #16 "Pushy"
Small but useful lib for hashless frontend routing with HTML5 pushstates.

https://github.com/kibu-australia/pushy

Seems abandoned. I've forked and made a new release here: https://github.com/lifecheq/pushy

- Fixes it for IE11
- Handles query params

I'm happy to maintain, but would prefer to do it under clj-commons if possible.

[2019-01-08 02:55] danielcompton commented on #16
Pushy seems to be fairly [well used](https://clojars.org/kibu/pushy). I see you've already raised the idea of taking over maintenance at https://github.com/kibu-australia/pushy/issues/39. Before transferring your fork into clj-commons, I'll send an email to @wavejumper to see if he is interested in transferring the original. Thanks!

[2019-01-11 06:34] slipset opened #17 "friend"
On slack, @victorb wrote:

@danielcompton replied:

This leads to at least three questions:
1) Would @cemerick be willing to transfer `friend` to clj-commons
2) Would Anyone(TM) be willing to step up as a dedicated maintainer for `friend`
3) Would `friend` be worse off if 1) and not 2) than it is today.

[2019-01-11 21:45] cemerick commented on #17
As you might notice, I sent that call-to-action almost exactly 4 years ago. The lack of movement since then says it all re: people willing/able to step up as a new maintainer.

If someone is interested in doing this, please go ahead. But I think it makes more sense given the circumstances (in contrast to e.g. nREPL, which almost urgently needed to _move_) that that someone fork friend, and do as t

[2019-01-14 20:14] viesti opened #18 "saml20-clj"
There are quite many forks of [vlacs/saml20-clj](https://github.com/vlacs/saml20-clj/network/members), a [SAML20](https://en.wikipedia.org/wiki/SAML_2.0) library that one can plug into a Clojure/Ring application. Having a single version with fixes/enhancements incorporated from these multiple forks would make it easier to choose and use this library.

[2019-01-16 21:48] slipset commented on #12
Thanks, @rundis :)

[2019-01-18 06:26] manid opened #19 "Public keys used to sign cli-commons packages not found in public keyservers"
Currently when trying to pgp-verify clj-commons/secretary I can't seem to find the public key used to sign this package (eg. from  pgp.mit.edu). Could these keys be uploaded or could you point a path where they might be.

[2019-01-18 12:40] kazesberger commented on #2
_I'll just write this here without having done anything yet to commit myself publicly_ :-)

i got very limited time and am still quite the beginner (and have spent almost my whole career in ops/support/devops), but I might just start on a reboot of 4clj just for fun and  see how far i come. I'm about to start a new round #100daysOfClojure . I think I'm gonna make this my main sideproject for this

[2019-01-19 08:13] danielcompton commented on #19
@slipset I think you published the secretary release?

[2019-01-20 05:10] danielcompton commented on #19
@manid what is the key fingerprint you found?

[2019-01-21 06:43] manid commented on #19
For the 1.2.4 version of clj-commons/secretary the fingerprint is: 0x5ECFCC77F1E76BCD

[2019-01-21 06:58] slipset commented on #19
Seems to correspond with my key.

[2019-01-21 07:41] manid commented on #19
Looks like the key is now available: http://pool.sks-keyservers.net/pks/lookup?search=0x5ECFCC77F1E76BCD&op=vindex

[2019-01-21 07:46] manid commented on #19
Thank you very much!

[2019-01-21 07:46] #19 closed

[2019-01-21 08:14] slipset commented on #19
Thank you for reporting. Have a great week @manid!

[2019-01-21 08:16] slipset opened #20 "spyscope"
https://github.com/dgrnbrg/spyscope/issues/26
So the question is if @randomizedthinking or @dgrnbrg would be willing to transfer the project?

[2019-01-21 15:53] dgrnbrg commented on #20
I would be open to this. What does it take?

[2019-01-21 15:57] slipset commented on #20
Doesn't take much. You transfer the repo to clj-commons, we maintain it.
If you also add clj-commons to the group that owns spyscope on clojars, we can continue to publish under the same artefact id. Otherwise, we'll change it to clj-commons/spyscope.

[2019-01-21 16:56] BrunoBonacci opened #21 "damballa/abracad"
https://github.com/damballa/abracad is a wrapper for Avro.

It appears to be abandoned as people complained in this PR https://github.com/damballa/abracad/pull/32

There is also a fork https://github.com/ovotech/abracad as an effort to keep it up-to-date.
So maybe we can convince the owners to move it to clj-commons and fork's maintainer to push the updates.

[2019-01-21 23:45] randomizedthinking commented on #20
It sounds good. @dgrnbrg Can you add me to the maintainer of the project.

I think we can keep the artifact id for now... less interruption to users.

On Mon, Jan 21, 2019 at 7:57 AM Erik Assum <notifications@github.com> wrote:

[2019-01-23 08:06] slipset commented on #20
I've added you both as members of clj-commons. You should then be able to transfer spyscope to us.

[2019-01-23 16:22] shen-tian commented on #16
Hey. All quiet on the email front... next steps?

[2019-01-28 17:38] kazesberger commented on #2
a bit more recent post with involvement of @puredanger: https://www.reddit.com/r/Clojure/comments/86ar6y/why_4clojure_has_not_been_updated_since_2015/

I just asked in clojurians-slack/#clojure whether i can become maintainer as it seems to have none these days. there are certainly issues i feel capable to address. at least do some cleanup on issues/PRs. I don't know who to ask or where to go to t

[2019-01-30 13:43] oporkka opened #22 "Fork cemerick/url"
The handy library https://github.com/cemerick/url is not anymore maintained (see https://github.com/cemerick/url/issues/30), and now also archived. It is a useful library for URL-handling, however, and I think it needs a new home.

It needs at least small patches like https://github.com/cemerick/url/pull/29

[2019-01-31 23:19] arnaudbos commented on #15
I think this can be closed now.

[2019-01-31 23:54] piotr-yuxuan commented on #22
Also, you can try https://github.com/wtetzner/exploding-fish

[2019-02-01 06:02] slipset commented on #15
@arnaudbos Thank you not mentioning, I didn’t get a github notifiers for this.

[2019-02-01 06:02] #15 closed

[2019-02-06 05:53] arnaudbos commented on #15
I'd be happy to help with the maintenance of conch. I'm not using it myself but so maybe other people would have more incentive to do that and contribute more regularly.

That being said, I'd like to play with the whole `Thread#start` and `future` thing and see what could be done to eat-up fewer resources.

At the very least I'd like to help put clj-commons/conch onto Clojars, link CircleCI builds

[2019-02-19 21:27] danielcompton commented on #12
Do we have anyone willing to continue maintaining rewrite-cljs? @PEZ are you interested?

[2019-02-19 21:51] danielcompton commented on #12
@lread you seem to be engaged with both projects, would you like commit access?

[2019-02-20 17:37] lread commented on #12
Hi @danielcompton, thanks for thinking of me. Although I have decades of experience as a software developer, I am relatively new to Clojure & ClojureScript. That said, Clojure and the Clojure community are so very pleasant that I feel compelled to give back. So sure, sign me up!

@rundis do you have any notes, tips or todos relating to rewrite-cljs for us?

[2019-02-24 10:37] kazesberger commented on #2
i had a quite long break working on this but picked up work on this this weekend. working in my [fork](https://github.com/4clojure/4clojure) of original [4clojure-repo](https://github.com/kazesberger/4clojure).

instead of attempting a rewrite i started adding a re-frame spa-ui on top of it.
i already bumped versions (seemingly successful) although i didn't cleanse the existing code (yet) to make

[2019-02-24 11:44] borkdude commented on #2
Hi @kazesberger:

I'd like to add 3 things to a 4clojure CLJS UI:
1) speculative to guide beginners to better use of Clojure functions and get better error messages (https://github.com/borkdude/speculative)
2) expound for even better error messages (https://github.com/bhb/expound/tree/master/src/expound)
3) parinfer for balancing parens (http://shaunlebron.github.io/parinfer/)

With any of these s

[2019-02-25 13:30] roman01la opened #23 "Giving away multiple projects"
Hello! I'd like to transfer multiple projects of mine to clj-commons.

- https://github.com/roman01la/citrus
- https://github.com/roman01la/cljss
- https://github.com/roman01la/zprint-clj

What should I do?

[2019-02-25 13:47] slipset commented on #23
Cool! I've sent you an invite to cli-commons, so you should be able to transfer your repos.
WRT publishing on Clojars, I guess we need to rebrand the artefacts to `clj-commons/..` since they're published under your own org, and I imagine you don't want to give cli-commons access to publish to your org.

[2019-02-25 14:12] roman01la commented on #23
Ok. Just transferred all of them into the org. Will update artifacts later.

[2019-02-26 08:15] kazesberger commented on #2
i updated my fork enabling issues and also creating issues for discussion and providing a rough outline of my intentions with 4clojure. feel free to comment and add feature requests. always grateful for any input :)

[2019-02-27 23:14] dijonkitchen commented on #16
Looks like it's transferred: https://github.com/clj-commons/pushy

Shall this issue be closed?

[2019-02-27 23:55] danielcompton commented on #16
Yep!

[2019-02-27 23:55] #16 closed

[2019-02-28 10:27] roman01la commented on #23
@slipset Done. Could you please publish citrus 3.2.2 and cljss 1.6.4?

[2019-02-28 14:03] slipset commented on #23
Nice! Will do!

[2019-02-28 14:03] #23 closed

[2019-02-28 14:04] lread commented on #12
I am working on a change for cljfmt and would like to use a feature that is in rewrite-clj that is not yet in rewrite-cljs. Moving forward, as @PEZ suggested, it seems that making rewrite-clj a cljc project could make sense.

Perhaps, I could take a stab at this under rewrite-cljs.

Does this make sense to others? Anybody have concerns or objections? @xsc what do you think?

[2019-02-28 18:50] slipset commented on #23
done

[2019-02-28 18:53] slipset commented on #18
Let's see if @jrdoane would be interested in such a transfer. I don't think I'd have the capacity to consolidate all the different versions, so any help here would be greatly appreciated

[2019-03-03 04:03] buzzdan commented on #20
Any updates on this issue?

[2019-03-04 23:38] randomizedthinking commented on #20
@dgrnbrg Can you please add me as a collaborator to the original repository then I can transfer the repo to clj-commons? Or you can do the transfer by yourself.

[2019-03-04 23:43] randomizedthinking commented on #20
Clone the repo at clj-commons. Since @dgrnbrg already agreed, and it requires no action from him assuming he is busy. Close the issue now.

[2019-03-04 23:43] #20 closed

[2019-03-10 15:07] agilecreativity opened #24 "cgrand/enlive"
I would love to see this adopted by the community:

https://github.com/cgrand/enlive/issues

[2019-03-10 18:51] danielcompton commented on #24
@agilecreativity have you talked to Christophe Grand about this? He's still active in the community, and may not want to transfer it.

[2019-03-12 22:21] lread commented on #12
Found some an old blog entry from @rundis which is helpful in understanding some deviations from rewrite-clj: http://rundis.github.io/blog/2015/clojurescript_performance_tuning.html

[2019-03-14 03:48] agilecreativity commented on #24
I have not and of course I should.
I only mentioned this because there are a few MR and issues on the project
And the last commit was made in 2015.
Maybe he is very busy with other works and I definitely understand.
But will definitely reach out.

[2019-03-14 20:18] pmonks opened #25 "Transfer some/all of pmonks' Clojure projects"
I'd be more than happy to transfer some or all of [my Clojure projects](https://github.com/pmonks?utf8=%E2%9C%93&tab=repositories&q=&type=source&language=clojure) to `clj-commons`, if there's interest from the `clj-commons` team.  The most useful projects (imho) are these libraries:

* [`pmonks/CLJ-2253`](https://github.com/pmonks/CLJ-2253)
* [`pmonks/unfurl`](https://github.com/pmonks/unfurl)
* [

[2019-03-14 20:31] slipset commented on #25
I’ve invited you as a member of clj-commons, so feel free to transfer projects. I’ll set you as an admin on the projects once they’re transferred.

[2019-03-14 21:16] pmonks commented on #25
Sadly, to transfer a repository you have to be an admin of both the source repo and the target _organisation_.

@slipset I'd be happy to make you an admin on each of the projects listed above, if you don't mind performing each of the transfers?  Alternatively you could temporarily make me an admin of `clj-commons`, I'll perform the transfers, then you can remove my admin role.

[2019-03-14 21:21] pmonks commented on #25
Ok - all transfers are now in progress.

[2019-03-14 21:34] pmonks commented on #25
@slipset once they're done, can you set me up as an admin on each of them, then close this issue?  Thanks!!

[2019-03-14 22:04] slipset commented on #25
You should be admin now on your projects. Welcome to cli-commons :)

[2019-03-14 22:04] #25 closed

[2019-03-14 23:13] pmonks commented on #25
Thanks!  😉

[2019-03-14 23:26] pmonks opened #26 "Access to clj-commons group on clojars?"
I'd like to move my projects over from `org.clojars.pmonks` to `clj-commons` on Clojars, but to do so I'll need write access to the `clj-commons` group on Clojars.  Is that a possibility?

[Here's the current behaviour.](https://travis-ci.com/clj-commons/CLJ-2253/jobs/185057949#L612)

[2019-03-16 01:04] pmonks commented on #26
[Looks like this is fixed](https://travis-ci.com/clj-commons/CLJ-2253/builds/104650975) - thank you Clojars genies!  😉

[2019-03-16 01:04] #26 closed

[2019-05-14 04:43] orestis commented on #7
Was about to open an issue for this :) anyway I can help speed things along?

[2019-05-23 13:54] lilactown opened #28 "Lokeh/plum"
I'm posting this here now to begin consideration of moving a small utility I started, [plum](https://github.com/Lokeh/plum), into clj-commons.

The basic idea behind it is to provide a packaging of standard `clojure` aliases for doing common operations on a project. Generating a new application, installing dependencies, running tests, etc.

More discussion can be found [in the thread on ClojureVer

[2019-05-23 23:02] danielcompton commented on #28
Thanks for opening discussion of this, plum looks like a really neat tool, and fits a missing gap.

I don't know if it meets the [entry criteria](https://github.com/clj-commons/wishlist#entry-criteria) for a project, as it is very new and still maintained by you? What would having this in clj-commons do for community contributions that you couldn't get in the existing project?

[2019-06-01 21:37] dijonkitchen commented on #2
FWIW, I think the problems are here too: https://clojurecademy.com/courses/17592186045426/learn/overview

[2019-06-21 12:31] Heliosmaster commented on #8
For the general term to use I think `adoption` is a sound one. It universally conveys the idea of embracing something and taking care of it (for some time at least) which is the purpose of this.

And about this repo, why not take a hint from Wikimedia and just call it `meta`? In my mind it clarifies that it's not a project per se, but a repo about everything else related to clj-commons. That inclu

[2019-06-22 07:45] danielcompton commented on #8
Yeah, I think it makes sense to me too.

Great idea, I've just updated it now.

[2019-06-22 18:32] MalloZup opened #30 "Team, shape and Governance of clj common organization"
I'm opening this issue as reference to the topic in the forum I have opened. Hth

https://clojureverse.org/t/clj-commons-short-term-discussions-points/4447/4

[2019-07-11 23:13] MalloZup opened #31 "iapetos (prometheus lib/client)"
https://github.com/xsc/iapetos

I have asked @xsc if we can move his wonderfull client to clj-commons. I would also like to help co-maintain if possible

[2019-07-12 02:17] lread commented on #31
I don’t know if this of any help @MalloZup, but here is my request to the same author to perhaps bring his wonderful rewrite-clj over to clj-commons: https://github.com/xsc/rewrite-clj/issues/77

[2019-07-12 06:54] MalloZup commented on #31
Thx @lread!

[2019-07-20 00:44] MalloZup commented on #31
closing

[2019-07-20 00:44] #31 closed

[2019-07-20 00:44] MalloZup commented on #31
project was merged thx!

[2019-07-20 00:45] MalloZup opened #32 "oraclejdk dep in travis build"
I think we should switch to use openjdk8
https://travis-ci.community/t/error-installing-oraclejdk8-expected-feature-release-number-in-range-of-9-to-14-but-got-8/3766/2

jfyi

[2019-07-20 06:32] slipset commented on #32
I'd rather we changed to CircleCI, as most other clj-commons projects is on Circle.

[2019-07-20 10:19] MalloZup commented on #32
yep, I will try to do it then thx

[2019-07-20 11:19] slipset commented on #32
If you could add a build status badge in the readme as well, that would be stellar!

[2019-07-20 13:08] MalloZup commented on #32
yep

[2019-07-27 08:31] slipset commented on #7
clj-ssh has now arrived :)

[2019-07-27 08:31] #7 closed

[2019-07-27 08:32] #32 closed

[2019-07-27 11:05] MalloZup commented on #7
@slipset nice one thx!

[2019-08-03 11:39] MalloZup opened #34 "Citrus circleci enablement"
The following Lib should be moved to circleci
GitHub - clj-commons/citrus: State management library for Rum

[2019-08-03 11:56] slipset opened #35 "ring-gzip-middleware should be moved to CircleCI"

[2019-08-03 11:56] slipset opened #36 "useful should be moved to circle"

[2019-08-03 11:56] slipset opened #37 "zprint-clj needs ci"

[2019-08-03 11:57] slipset opened #38 "camel-nsake-kebab should be moved to circle"

[2019-08-03 11:57] slipset opened #39 "ordered should be moved to circle"

[2019-08-03 11:58] slipset opened #40 "lein-vizdeps need ci"

[2019-08-03 11:58] slipset opened #41 "ring-buffer should be moved to circle"

[2019-08-03 11:58] slipset opened #42 "spy-scope needs ci"

[2019-08-03 11:58] slipset opened #43 "codependence should be moved to circle"

[2019-08-03 11:58] slipset opened #44 "anarchy should be moved to cirlce"

[2019-08-03 11:59] slipset opened #45 "spectra should be moved to circle"

[2019-08-03 11:59] slipset opened #46 "utrecht should be moved to circle"

[2019-08-04 18:26] #35 closed

[2019-08-04 18:30] slipset commented on #36
done

[2019-08-04 18:30] #36 closed

[2019-08-04 18:35] slipset commented on #38
done

[2019-08-04 18:35] #38 closed

[2019-08-04 18:45] slipset commented on #42
done

[2019-08-04 18:45] #42 closed

[2019-08-04 18:46] slipset commented on #40
done

[2019-08-04 18:46] #40 closed

[2019-08-04 18:50] slipset commented on #37
done

[2019-08-04 18:52] slipset commented on #37
Not done, since the project is not lein based

[2019-08-05 09:25] rborer commented on #36
Hi, maintainer of tentacles here. Sorry to post here but I couldn't find the issue related to migrating tentacles to CircleCI.

I was wondering if there is any reason to stick with leiningen 2.7.1 :thinking: ? Looking at https://hub.docker.com/r/circleci/clojure I see that there is a tag available for version 2.9.1.

[2019-08-05 09:27] slipset opened #47 "tentacles should be moved to circle"

[2019-08-05 09:28] slipset commented on #36
Sorry, created now, #47

[2019-08-05 09:29] slipset commented on #47
@rborer The only reason I set up stuff with lein-2.7.1 is that it's the default config from Circle.

[2019-08-05 09:34] rborer commented on #47
@slipset ok thanks for the clarification. I'll try with 2.9.1 & see how it goes (hopefully well :wink: ).

[2019-08-05 10:03] MalloZup commented on #47
@rborer  we have already circleci set-up for other proejcts, feel free to take inspiration from there

[2019-08-12 13:34] rborer commented on #47
Seems to work fine with leiningen 2.9.1. @slipset you can close this issue as you already did the initial migration (and I think it is complete).

[2019-08-12 13:34] #47 closed

[2019-08-18 10:30] MalloZup commented on #34
https://github.com/clj-commons/citrus/pull/46

[2019-08-18 11:01] MalloZup commented on #34
done by that PR closing

[2019-08-18 11:01] #34 closed

[2019-08-18 11:01] MalloZup commented on #30
somehow this is fixed allthhoug some open question remain, we will move the pragmatic way.

[2019-08-18 11:01] #30 closed

[2019-08-18 22:18] jafingerhut opened #48 "Worth having a page of history of project homes, including latest greatest?"
For example, it could be a single page one could link to from all 'old home/README page' of projects when they transfer maintainership elsewhere, including to clj-commons, but perhaps having that page in one place would be useful for projects that transfer maintainership elsewhere besides clj-commons, too.

Example entry:

Project: fs
Current home: https://github.com/clj-commons/fs
Date transferre

[2019-08-18 22:19] jafingerhut commented on #48
On a related note, in some case for the 'old homes', it would be nice if someone had permission to add a link to such a page, e.g. on the README for Github project https://github.com/Raynes/fs   I do not know if that is possible, who might currently have write access, and/or what Github's policies might be for allowing edits to 'abandoned' projects.

[2019-08-18 22:42] danielcompton commented on #48
Yep, this would be great, I'm a big fan of this idea. Currently the clj-commons.org website doesn't really give much info on which projects have been adopted. I think it'd also be good to show who the maintainers are for different projects, ideally driven off of a `CODEOWNERS` file.

AFAIK this isn't supported, https://github.com/isaacs/github/issues/1385 asks for a similar feature. In the cases w

[2019-08-19 03:40] jafingerhut commented on #48
Are there currently any projects with a `CODEOWNERS` file that you can point at?

Or is that something you are hoping to add to clj-commons projects in the future?

[2019-08-19 04:15] jafingerhut commented on #48
Ah, I think I found one in the tentacles repo here: https://github.com/clj-commons/tentacles/tree/master/.github

I guess one question to ask is: Do you want the 'ground truth' for this data to come from files inside if each clj-commons repo, but it is OK to periodically run some process that extracts it from all clj-commons repos, and publishes it in one place?

Or is it OK for the data's home to

[2019-08-20 01:40] danielcompton commented on #48
That would be ideal, but requires more work. In the first instance I'd be happy having the website be the home of this information, perhaps using something like [Hugo](https://gohugo.io) which has [data templates](https://gohugo.io/templates/data-templates/) which we could use for this.

[2019-08-20 20:29] jafingerhut commented on #48
So the following vector of maps, one per project, is a first quick draft of what such a data file could look like, of course with more data like that extracted from CODEOWNERS files added later, plus whatever else we think of.

It would take only a fairly small amount of code to generate HTML/whatever for a web page for people to look at, from such data.

It would also take only a fairly small amo

[2019-08-20 20:34] jafingerhut commented on #48
Another thought -- having this in data format could also be useful for a future enhancement to tools like `lein-ancient`.  Right now they can tell you when there is a newer version of the same project available on Clojars or Maven Central, with the same artifact name, but I do not think they currently attempt to tell if there is a newer project that you should consider using.

[2019-08-20 23:10] danielcompton commented on #48
There is a spec for handling this called [relocation](https://maven.apache.org/guides/mini/guide-relocation.html) that Maven supports, though I've never seen it done, and Clojars doesn't support it AFAIK. Possibly having a manual data file to provide this info would be a useful short-term step for tools like lein-ancient though?

[2019-08-25 04:05] seancorfield commented on #24
@agilecreativity Any luck getting feedback from @cgrand about this?

[2019-08-25 04:05] seancorfield commented on #28
@Lokeh Any thoughts on @danielcompton 's comments/questions from three months ago?

[2019-08-25 04:10] seancorfield commented on #22
There's a more up-to-date fork of `url` here https://github.com/arohner/uri but neither that nor the original look like they satisfy the entry criteria for clj-commons (not exactly popular/widely-depended on). The same goes for exploding-fish (seems unmaintained but not exactly popular/widely-depended on).

[2019-08-25 04:11] seancorfield commented on #21
@BrunoBonacci have you reached out to @ovotech to see whether they'd be interested in moving it to clj-commons?

[2019-08-25 04:12] seancorfield commented on #18
@viesti @jrdoane @slipset -- any traction on this?

[2019-08-25 04:16] seancorfield commented on #17
Given that last comment from @cemerick about `buddy` and the lack of comments here in over six months, I'd vote for closing this (and maybe `friend` is ready for archiving at this point?).

[2019-08-25 04:30] seancorfield commented on #14
With what's on clj-commons.org now and the seeming consensus here, it feels like all the original questions got answered?

* What is the PR review protocol? For example, is one review enough, or should changes be reviewed by two committers? -- **up to the maintainer of each project**
* Is there a CLA? -- **no**
* Who determines when to perform a release? -- **the maintainer of each project**
* Who

[2019-08-25 04:33] seancorfield commented on #12
Since `rewrite-clj` got forked to `clj-commons/rewrite-cljs`, it seems like this could be closed?

[2019-08-25 04:34] seancorfield commented on #8
Any further action/input needed, or can this be closed out now the repo has been renamed to `meta`?

[2019-08-25 04:37] seancorfield commented on #2
It seems like the discussion has shifted to @kazesberger 's repo -- can this issue be closed now?

[2019-08-25 04:39] seancorfield commented on #46
Looks like utrecht isn't under clj-commons any more so this can be closed?

[2019-08-25 04:39] seancorfield commented on #45
Looks like spectra isn't under clj-commons any more so this can be closed?

[2019-08-25 04:40] seancorfield commented on #44
Looks like anarchy isn't under clj-commons any more so this can be closed?

[2019-08-25 04:40] seancorfield commented on #43
Looks like codependence isn't under clj-commons any more so this can be closed?

[2019-08-25 07:47] bbatsov commented on #14
Where exactly? I don't see any updates on the site.

Same here - I can't find anything on the subject.

I agree with everything you said in general, but I do think some practical questions need to be addressed as well:

* are we pushing for/avoiding changing artefact coordinates?
* forking over moving?
* do we (try to) set any common standards for the coding style of projects, their CI, etc or it'

[2019-08-25 08:32] #46 closed

[2019-08-25 08:33] #45 closed

[2019-08-25 08:33] #44 closed

[2019-08-25 08:33] #43 closed

[2019-08-25 09:24] PEZ commented on #12
Yeah, this seems to have happened. :smile:

[2019-08-25 09:24] #12 closed

[2019-08-25 17:12] seancorfield commented on #14
Doh! They're posted to the readme of this meta repository. That should either be promoted to a page on the site or the home page should link to it. It answers some (but not all) of the other questions you post too.

[2019-08-25 17:52] seancorfield commented on #14
Entry criteria: https://github.com/clj-commons/meta/blob/master/README.md#entry-criteria

Maintenance criteria: https://github.com/clj-commons/meta/blob/master/README.md#maintenance-criteria

Transfer vs fork/artefacts: https://github.com/clj-commons/meta/blob/master/README.md#when-to-use-the-clj-commons-maven-group-id-vs-the-original-group-id (also covered in @slipset 's proposed #49 )

Common co

[2019-08-25 19:52] #8 closed

[2019-08-25 19:52] danielcompton commented on #8
Nope!

[2019-08-25 20:28] seancorfield commented on #14
Project Governance: https://github.com/clj-commons/meta/blob/master/PROJECT_GOVERNANCE.md

Between the readme and the new project governance page, are there still issues left unaddressed that you think are important to be addressed? If not, we can close out this issue (and potentially start new issues for additional discussion points).

[2019-08-25 20:38] seancorfield commented on #14
(I updated clj-commons.org to link to both of those, under Contributing)

[2019-08-26 04:48] bbatsov commented on #14
Thanks!

I think it might be best to fold all the documentation in a single README and just publish it to clj-commons.org via some CI job. This works really well with AsciiDoc - it's how I publish https://guide.clojure.style

[2019-08-26 04:52] seancorfield commented on #14
The plan is to convert clj-commons.org to use Hugo and then it will have several pages and the information can all be migrated out of this repo's `.md` files into real pages on the main web site.

[2019-08-26 11:22] #22 closed

[2019-08-26 17:20] MalloZup commented on #14
I think we could from this big card, create smaller issue and reference them to this kind of `epic` card.

[2019-08-27 13:11] cgrand commented on #24
To me Enlive is done (there's no feature I'd like to add _under the current design_) and if someone has either a vision or just the willingness of doing maintenance I'm ok to give admin rights on it.
What is to be gained by actually transferring the project? (honest question)

[2019-08-27 17:53] MalloZup commented on #24
I agree with Sean.
To me we can can close, imho

[2019-08-27 19:03] MalloZup commented on #4
I personally would vote to close because the issue is stale more or less then 1 year. If a motivated maintainer comes from shadow it can reopen the issue :bat:

[2019-08-30 10:26] danielcompton commented on #2
I think so.

[2019-08-30 10:26] #2 closed

[2019-08-30 14:10] dijonkitchen commented on #2
Seems like there's actually no activity there for 7 months.

[2019-09-02 14:58] kazesberger commented on #2
hi sorry to answer a bit late and also for not having made any progress on 4clojure since April. coding has been more an occasional hobby of mine although I definitely would like to get more into it. so i need to confess again: I'm probably not the best possible guy taking this over, although i would take care of it within my possibilities. I'm actually a platform/ops guy which could become handy

[2019-09-12 15:20] dijonkitchen opened #51 "Bumping versions to at least 1.0.0"
Seems like there are a bunch of old, robust libraries in here and elsewhere in the Clojure ecosystem that are still at a semantic major version of 0 when they probably have had a relied upon, stable, public API for a long time.

Is it worth bumping these to at least semantic version 1.0.0? It would signal to end consumers that these are actually stable libraries, consistent with the wider programm

[2019-09-13 20:55] danielcompton commented on #51
I think this should be up to the maintainers of the projects. It seems like a reasonable thing to do, if the intention is for the API to stabilise.

[2019-09-13 21:20] dijonkitchen commented on #51
I thought clj-commons was going to be the new maintainer for their projects.

[2019-09-16 23:28] torkus opened #54 "seesaw"
I've broached the topic of transferring [seesaw](https://github.com/daveray/seesaw) to clj-commons here: https://github.com/daveray/seesaw/issues/224

@daveray has given his approval

Seesaw is a broad and deep library and I won't pretend I'm an expert on it's insides, but I'm willing to triage tickets, switch it to circle-ci, bump dependencies, investigate bugs, coordinate with others, etc.

[2019-09-17 08:59] slipset commented on #54
Doing a very cursory due diligence, it seems to fit nicely with clj-commons, as it has both a bunch of stars on GitHub, and a substantial amount of downloads in Clojars.

I'll add @daveray and yourself to the org so we can transfer the repo.

[2019-09-17 10:23] torkus commented on #54
thank you, @slipset . Invitation accepted.

[2019-09-29 20:28] danielcompton commented on #51
Sorry, what I mean is that maintainers of specific projects within clj-commons should be free to set the version as appropriate, based on their understanding of the project's maturity and needs. I'm not against moving to 1.0.0, I just don't think it needs to be a rule.

[2019-09-30 17:39] dijonkitchen commented on #51
OK, that's fine. I'll leave this here for those maintainers then.

I think most projects are stable and the greater developer community would benefit from using a consistent semantic versioning technique with version 1.0.0+ for stable libraries.

[2019-10-12 01:18] torkus commented on #54
@slipset, what's the current status on this? Are we blocked by something?

[2019-10-12 18:57] slipset commented on #54
We're waiting for @daveray to transfer the project. Only he can do that.

[2019-10-13 00:04] torkus commented on #54
ah, no worries. cheers

[2019-10-13 23:41] daveray commented on #54
@slipset Sorry. I wasn't aware anyone was waiting for me to do anything. Is this just "Settings/Danger Zone/Transfer"?

[2019-11-04 13:57] tafenton opened #55 "Immutant"
Hi,

Would Immutant be a good candidate for clj-commons?

- Seems quite well-regarded in the community (430 stars, [formerly the default for Luminus](https://github.com/luminus-framework/luminus-template/commit/9c6c9e26143a6b685c811c732d9cadcb63c7be58#diff-442c828c87db75514318a66d291676b7))
- The only Clojure server library I've found that offers HTTP2
- No activity on GitHub or immutant.org since

[2019-11-09 08:06] glts opened #56 "Pomegranate"
According to [this comment](https://github.com/cemerick/pomegranate/pull/116#issuecomment-552039704), Pomegranate can be considered abandoned or provided as-is.

Pomegranate is a critical Clojure library, it is a core dependency of Leiningen.

We should consider forking Pomegranate under the clj-commons organisation.

[2019-11-09 08:24] slipset commented on #56
I think this is a reasonable library to take on, but we’d probably need some help in actively maintaining it, if that’s needed.

Any clue to why @cemerick would want to fork and not transfer the repo?

[2019-11-09 10:05] glts commented on #56
Forking seems like the proper action for such a situation, no? At least that would preserve cemerick's original authorship in the record, which I think is fair.

[2019-11-09 11:38] slipset commented on #56
Forking doesn’t do that, transfers do.

[2019-11-09 12:29] borkdude commented on #56
Maybe asking explicitly in the latest comment works better.

[2019-11-09 15:39] cemerick commented on #56
Please don't read my comment as carrying any particular preference re: how "ownership" of the code base is changed. I was just using "fork" as a loose shorthand, and I'm not too worried about credit blame, the commit history is there 😁

[2019-11-10 19:04] danielcompton commented on #56
This seems like a good candidate for adoption, @cemerick would you like to transfer Pomegranate into clj-commons? We'd be happy to accept it.

[2019-11-18 02:42] danielcompton commented on #55
Yeah, Immutant is a whole org, and has a massive surface area. It would need someone dedicated to take it on in clj-commons, and honestly feels a bit too "big". The Immutant org might be quite happy to have people from the Clojure community join to help with maintenance, if anyone was interested. That is likely to be an easier sell to Red Hat, especially given the close relationship between Immuta

[2019-11-18 05:54] slipset commented on #54
@daveray Yes

[2019-11-20 14:09] cemerick commented on #56
Apparently I need "permission to create public repositories on clj-commons"?

[2019-11-22 00:05] danielcompton commented on #56
Invited!

[2019-12-02 22:28] BrunoBonacci commented on #41
this is already been done, this issue can be closed

[2019-12-03 06:04] #41 closed

[2019-12-04 14:43] cemerick commented on #56
The repo has been transferred. :smile:

[2020-01-07 17:56] #56 closed

[2020-03-11 13:40] dijonkitchen commented on #51
FYI, looks like this is gaining traction.

https://insideclojure.org/2020/02/18/lib-version/

[2020-03-11 13:41] dijonkitchen opened #58 "Add Clojurists Together as Github sponsor link for organization and its project"
https://www.clojuriststogether.org/developers/

[2020-03-30 00:37] danielcompton commented on #58
Sorry, could you explain more what is the suggested action here? clj-commons and Clojurists Together are related in that I am part of both of them, but I don't think they have any other connection.

[2020-03-30 16:46] dijonkitchen commented on #58
I meant to add a sponsor badge to direct more people to donating to Clojurists Together.

https://help.github.com/en/github/administering-a-repository/displaying-a-sponsor-button-in-your-repository

[2020-06-25 22:16] divs1210 commented on #54
hi @daveray is this blocked on something?

[2020-06-25 23:12] torkus commented on #54
(just an FYI, I don't have the time anymore to take on any maintenance duties myself but being part of clojure commons the project may find other maintainers)

[2020-06-26 10:20] #39 closed

[2020-07-16 08:25] slipset commented on #18
Not really, but I'm starting to use clj-saml at work, and I picked up the one that metabase is using  `[metabase/saml20-clj "1.0.2"]` as I figured they were actively using saml in their product.

Maybe @sbelak has some input?

[2020-07-16 09:16] sbelak commented on #18
We came to the same conclusion -- none of the existing versions was maintained enough for us to be willing to depend on it and waiting for upstream to merge our bug fixes started to impede our releases, so we forked. We're pretty conservative with switching libraries, so we'll very likely stick with our fork for the foreseeable future.

[2020-07-16 09:19] slipset commented on #18
Then I suggest we close this issue and recommend using `metabase/saml20-clj`

[2020-07-16 09:19] #18 closed

[2020-11-30 02:52] ztellman opened #59 "all repos in the `aleph-io` organization"
I recently moved all projects related to Aleph into a [separate org](https://github.com/aleph-io) so I could give @kachayev full access to the repos.  Unfortunately, neither of us are doing much Clojure development these days, so putting them into the hands of clj-commons seems like the best path forward at this point.

I've had the goal for the last few years to cut a 1.0 release of all these pro

[2020-11-30 12:02] slipset commented on #59
Hi Zach,

I'll be frank and say I'm somewhere right in the middle between flattered and scared shitless about this proposal.
So here's some of my thinking: Of the projects in aleph-io, it seems like aleph and manifold are the two big ones. I'd imagine potemkin should more or less be done and is thus in maintenance mode. That could be stated in the Readme. I guess the same could be said for byte-st

[2020-11-30 12:09] borkdude commented on #59
@slipset Maybe we could ask some major companies using Aleph (via Yada, like JUXT (cc @malcolmsparks) or via the list here: https://github.com/aleph-io/aleph/issues/450 if there are people that have intimate knowledge of Aleph that are willing to help out as maintainers on clj-commons?

I think maintenance works best if people have some sense of ownership or responsibility. Maybe this is something

[2020-11-30 20:02] lread commented on #59
Yeah I'm sure finding committed maintainers is a challenge.

I've taken on stewardship of rewrite-cljc (a successor the the now unmaintained rewrite-clj and rewrite-cljs). I fully plan to move this to clj-commons once it is alpha-ready (and will gladly accept @borkdude's offer of comaintainer). Given that I am a curious fellow and highly distractable, even though I am committed, my progress has be

[2020-11-30 22:04] KingMob commented on #59
I adopted the aleph/manifold stack recently, and am willing to help out. I think I know byte-streams and manifold well enough to maintain, if nobody else is interested in stepping up. I definitely don't know Aleph+Netty that well yet, though.

[2020-11-30 22:35] valerauko commented on #59
I'm willing and able to help! I won't claim I understand the executor implementation under manifold/Dirigiste, but I can deal with Netty stuff (including exposing http/2)

[2020-11-30 23:50] tanzoniteblack commented on #59
I've been maintaining a fork of manifold for use at Yummly since last April that has a number of fixes to `let-flow` ( https://github.com/yummly/manifold/blob/master/CHANGES.md#019 ) & a new helper called `tsasvla` to give a `core.async` go macro variant with more flexibility in the concurrency then `let-flow` ( see motivation at https://github.com/yummly/manifold/blob/master/docs/deferred.md#mani

[2020-12-01 00:28] frap commented on #59
I can help on maintaining. Use libs a bit but no expert - but keen to help

[2020-12-01 17:42] abhishekamralkar commented on #59
I am interested in maintaining it. Not an expert on Clojure but used Aleph for Clojure application and I am on and off on Clojure. Now mostly using Clojure for some of my hobby projects.

[2020-12-01 17:43] solatis commented on #59
I’ll be more than happy to help with Manifold. The surface area for aleph is a bit too much for me to handle, but I’ve used Manifold for years, advocate for it whenever I get the chance, am very much aware of its inner workings, and am more than happy to lead this effort.

Dirigeste comes as a part of this, more than happy to take on this as well.

[2020-12-01 19:18] ztellman commented on #59
Thanks so much to everyone who responded.  The clj-commons folk have expressed a bit of concern that these repos will be something of a white elephant, given the scope of the projects (to say nothing of the issue backlogs).  I want to clarify that my hope is that the clj-commons teams will be mostly responsible for **continuity**, while the actual work will be done by other volunteers, who will in

[2020-12-01 19:22] slipset commented on #59
This sounds perfectly reasonable, and I think this is a good way forward for other projects of similar size. cli-commons ensures the continuity while appointed maintainers move the projects forward.

In this case I hope you @ztellman would be able to serve as some sort of advisor as to whom to pick as maintainer.

[2020-12-02 17:47] KingMob commented on #59
@ztellman That sounds good to me.

[2020-12-06 20:57] slipset commented on #59
@ztellman I've invited you to the clj-commons org, so all you need to do now is to accept the invitation and transfer the repos.

[2020-12-06 21:02] ztellman commented on #59
I've transferred over the repos, I'll follow up within the next few days with some thoughts on how to onboard new contributors.

[2020-12-06 21:08] slipset commented on #59
Thank you. Also, we need to think about deployment of artefacts. Should they continue to be deployed to clojars under current coordinates, or should they be moved under the clj-commons group-id. The former requires you to give access to new maintainers to publish artefacts, the latter means a change in group-id.

[2020-12-08 15:51] greglook commented on #59
I'd also be happy to help maintain these projects. I understand manifold pretty deeply, aleph less so. We use both at Amperity so we're very motivated to keep them going!

[2020-12-13 11:55] slipset commented on #48
I've created a `projects.html` which contains most of this info now, so I'll close this issue

[2020-12-13 11:55] #48 closed

[2020-12-13 21:57] danielcompton commented on #59
Given that the projects are under their own groupID's which don't conflict with anything else @ztellman owns, I'd recommend keeping the group ID's the same for now so that the lineage is clear, and upgraders get notified about new versions.

@ztellman if you're happy with that, can you add [erik](https://clojars.org/users/erik) and [danielcompton](https://clojars.org/users/danielcompton) as admins

[2020-12-14 06:14] slipset commented on #59
A thing to consider is, if I understand it correctly, the deps.edn push towards nudging lobs to have group ids, but I guess libs without group ids have an implicit group which is their artefact id?

[2020-12-14 09:00] danielcompton commented on #59
Yeah, Leiningen (and up until recently deps.edn) allowed you to write `aleph` as a dependency and it would expand it to `aleph/aleph` (group ID `aleph`/artifact ID `aleph`).

[2020-12-14 23:46] ztellman commented on #59
I think all of my projects are a bit out of sync with the (totally reasonable) new norm in Clojure that each project shouldn't have its own organization.  The three options I see are:

* Leave them where they are, and set up a Clojars deploy key for all of them
* Move them all under the `io.aleph` organization, which is a domain I'm happy to own and maintain indefinitely
* Move them under the `clj

[2020-12-15 21:09] slipset commented on #59
Then I'd vote for moving them under `clj-commons`, if only for convenience and branding reasons?

[2020-12-15 21:35] danielcompton commented on #59
I'm a weak +1 on `cli-commons`. I'd slightly prefer to keep them where they are for now as there isn't a good story for upgrade notifications when you change the group ID, but happy to defer to @slipset who has been the most active on this.

[2020-12-24 21:47] ztellman commented on #59
I've opened a new issue to track the overall milestone of release v1.0, which I think will require us onboarding many or all of the people who have commented in this thread: https://github.com/clj-commons/aleph/issues/555.  I'm fine with just releasing everything under `clj-commons`, fwiw.

[2021-01-17 16:04] mfru commented on #54
hi, is there a reason why the transfer wasn't completed yet?

[2021-01-17 22:43] daveray commented on #54
Just did the transfer. Let me know if anything else is needed. Sorry about the delay.

[2021-02-07 13:58] slipset commented on #17
I'd like to reopen this issue, as there are a couple of CVEs against friend at this point in time (which I would like to have fixed)
@cemerick would you be up for transferring `friend` so we can release a maintenance version of 0.2.3 with updated libs?

If we do take over `friend` it would be under the assumption that it goes into maintenance mode and with a note recommending eg `buddy` for Greenf

[2021-02-09 10:35] slipset commented on #17
I forked `friend` for now, but would be happy to do the trickery needed to get a transfer
ping @cemerick

[2021-03-05 02:00] iku000888 commented on #21
Nubank also maintains a version https://github.com/nubank/abracad

[2021-03-05 11:26] slipset commented on #21
I think that if nubank has a maintained version, we should be supporting and using that.

[2021-03-05 11:26] #21 closed

[2021-03-08 16:03] cemerick commented on #17
The openid4java CVEs are 14 years old, and AFAICT are critiques of OpenID's design. Especially moot these days given that OpenID seems functionally dead/unused in the wider world.

The jbcrypt CVE is cute, but only affects usage attempting to apply a maximum work factor (31) when generating the salt (https://bugzilla.mindrot.org/show_bug.cgi?id=2097, http://jvn.jp/en/jp/JVN77718330/index.html), wh

[2021-03-08 16:09] slipset commented on #17
Thanks for the comment. I'll close this issue then.

[2021-03-08 16:09] #17 closed

[2021-08-08 13:44] sergeiudris opened #60 "missing: clj desktop programs"
even air of clj-commons town we breathe out, but most definitely - the future is for clj desktop programs

[2021-09-20 06:19] tebeka opened #61 "clj-digest"
I'm the author of [clj-digest](https://github.com/tebeka/clj-digest). It's been a while sinec I've worked with Clojure and recently [a request came up](https://github.com/tebeka/clj-digest/issues/12) that I'm not sure how to solve.

@borkdude suggested I'll move the package here, is this possible?

[2021-09-20 07:31] slipset commented on #61
Looking at the stats for `cli-digest` I think it would be reasonable for clj-commons to take on `clj-digest`. Furthermore, I see that there are several libs in the same area of functionality, so it would probably be nice to have a common lib.
I'll invite you to the clj-commons org so you can transfer the repo

[2021-09-29 10:44] #59 closed

[2021-09-29 10:44] slipset commented on #59
Closing this as we've moved everything,

[2021-09-29 10:46] slipset commented on #58
clj-commons doesn't accept sponsorship as an organization, but anyone is free to sponsor any of the devs maintaining the libs we maintain. Having said that, I'd be very open to a nice button encouraging people sponsor Clojurists Together.

[2021-09-29 10:46] #58 closed

[2021-09-29 10:51] #54 closed

[2021-10-11 16:15] slipset commented on #61
Yes, you need to transfer that røo from yourself to clj-commons. You'll find transfer somewhere in the settings bit of your repo.

[2021-10-11 16:49] tebeka commented on #61
In transfer ...

[2021-10-11 16:50] #61 closed

[2022-01-06 10:12] KingMob opened #62 "Dirigiste and Gloss"
When we originally started porting over Zach Tellman's old repos, we left Dirigiste and Gloss alone. I'd like to suggest they be pulled into clj-commons.

Dirigiste is pretty stable, but looking down the road, I'd like to make it compatible with Project Loom's virtual threads, since Manifold depends on it, and may want to make use of them.

Gloss has a reflection bug that both I and another have r

[2022-01-06 10:19] slipset commented on #62
Sounds reasonable, @ztellman what do you think?

[2022-01-07 10:56] KingMob commented on #62
@casselc also encountered the error, and said he'd consider helping with Gloss.

[2022-01-07 22:01] ztellman commented on #62
Sure, fine by me.

[2022-01-07 22:05] ztellman commented on #62
Both are now transferred to clj-commons.

On a tangential note, I've recently stepped back to part-time at my job to work on a book, but will also give me some more time to provide support for the new maintainers of these projects.  I'll need to give some thought as to how to structure this, but if either of you have suggestions I'd be interested to hear them.

[2022-01-07 22:05] #62 closed

[2022-01-08 16:11] KingMob commented on #62
@ztellman I think a lot depends on how much time you have/want to spend on helping. There's a long list of things that would help, from PR review, documenting past decisions and internals, consulting on future directions, answering questions, etc.

I would suggest something like semi-regular office hours on Slack, but I'm moving to Indonesia on Sunday, and the TZ difference may be tricky. Realisti

[2022-01-11 13:49] RickMoynihan opened #63 "Finding Hickory a home"
[Hickory](https://github.com/davidsantiago/hickory) is a good and useful library, which sadly seems to have become unmaintained.  It supports converting html into hiccup in both clojure and clojurescript.  Additionally hickory is a dependency of other useful libraries like [cybermonday](https://github.com/kiranshila/cybermonday).

It also has CVE-2021-37714 against it which is due to an outdated j

[2022-01-11 13:52] borkdude commented on #63
Is the author willing to transfer this library?

I have experience with CLJS build and CI, so I could take care of that part _if_ it became part of clj-commons.

[2022-01-11 13:54] slipset commented on #63
@davidsantiago any input here?

[2022-01-11 18:52] davidsantiago commented on #63
I'd love to see someone take over maintenance of Hickory. It has so much JS/CLJS stuff now, I can't really work with it (I've never used CLJS or even JS really). I reached out years ago to some of the contributors of the JS stuff about finding a new maintainer, but didn't get any replies.

[2022-01-12 15:27] RickMoynihan commented on #63
Great news.

I'm certainly happy to help as best I can in this effort, if everyone is willing; though I'm not really a direct user of hickory (it is a transitive dep for me).

Though the CI/clojurescript is probably best left up to @borkdude; though I'm curious what he has in mind, and may be able to help out a little if required.

I wonder if we could also approach more direct users of the librar

[2022-01-12 15:32] borkdude commented on #63
1) Instead of forking, repos are usually "transferred" so all their github stars + issues etc are preserved.
3) CI can be drastically simplified. I propose we use the cognitect test runner for Clojure and the cljs-test-runner on Node.js. https://github.com/Olical/cljs-test-runner. That's how I run my CLJ+CLJS projects and found this a reliable setup.

[2022-01-12 15:46] slipset commented on #63
As @borkdude says, it's much better to transfer the repo. I'll invite @davidsantiago to clj-commons so he can do just that.

[2022-01-12 17:44] RickMoynihan commented on #63
Ok fantastic it definitely makes sense to transfer!

@borkdude cljs-test-runner looks great - I'm not sure how I've not stumbled across this before.

I'd expect we might want to use it with `tools.build` and deps-deploy for getting the jars into clojars?  I've done quite a bit of this recently; it would be simple enough to get cljdoc going too, and perhaps also [clojure-dependency-update-action](h

[2022-01-12 19:03] kiranshila commented on #63
I would be more than happy to help. I've used hickory quite a bit and would love to keep it going.

I'm also quite familiar with the cljs CI pipeline and I agree it could be simplified.

Also, for the cljs side, I believe it just uses the DOM, meaning it won't work on node (nbb). I don't think it would be that bad to bring in a virtual DOM, but I'd have to see.

[2022-01-12 19:05] borkdude commented on #63
Ah I see. We could just use a headless browser for testing then (which cljs-test-runner also supports).

[2022-01-19 12:39] borkdude commented on #63
@RickMoynihan Here I introduce from scratch a Github actions CI setup using cognitect test for the JVM, cljs-test runner for CLJS and clj-kondo to test the libraries exported config:

https://github.com/borkdude/better-cond/blob/lint/deps.edn

[2022-01-20 11:18] holyjak opened #64 "Hiccup"
Looking at the number of open issues nad PRs in https://github.com/weavejester/hiccup/, I am thinking that @weavejester might be interested in transferring it to clj-commons, perhaps?

[2022-01-20 15:07] weavejester commented on #64
Hiccup could certainly do with some attention, but regarding the PR backlog, most of them are waiting on the developer who initially opened them. I've merged the couple that were done; all the others are failing CI or waiting for changes to be made after code review. I've added tags to make the status clearer.

[2022-01-20 18:18] holyjak commented on #64
I understand that you are happy to keep Hiccup where it is, correct?

[2022-01-20 18:28] weavejester commented on #64
I'm not sure what advantage there'd be to moving it, so for now I'm happy to keep it where it is.

[2022-01-20 18:29] #64 closed

[2022-01-21 15:48] ieugen opened #65 "Adopt clayppol library in clj-commons?"
Hello I would like to open the discussion about adopting claypool in clj-commons.
I thought about this after the discussion in https://github.com/TheClimateCorporation/claypoole/issues/52 .

Maybe @leon-barrett thinks this is a good idea.

I would be open to helping out with the process.
Perhaps we can open discussions to transfer the repository instead of forking it.

[2022-01-21 20:52] leon-barrett opened #66 "Adopt claypoole"
Hi. I'm the maintainer of Claypoole, a thread-pool library (https://github.com/TheClimateCorporation/claypoole). I'd like to get it adopted by `clj-commons`. I'm no longer employed by The Climate Corporation, and haven't been for a while. So, while I can still update the repo, I can no longer deploy the library to https://clojars.org/com.climate/claypoole , so that location will have to change.

C

[2022-01-21 20:53] leon-barrett commented on #66
This is a duplicate of #65, sorry.

[2022-01-21 20:53] #66 closed

[2022-01-21 20:53] leon-barrett commented on #65
Yes, I am able to provide some help in moving the repo.

[2022-01-21 21:21] slipset commented on #65
So I'd need to add @leon-barrett as a member to clj-commons so that the repo can be transferred. I would appreciate, however, that we get an ok from The Climate Corp before we do the transfer, as it is under their org.

[2022-01-21 21:35] ieugen commented on #65
Yes, @leon-barrett  commented on the original issue - he is going to try and contact the company to transfer the repo.

Would be nice to have this transferred and updated.
I can help with migrating to deps.edn and some other maintenance.

Let me know if you need my help.

[2022-01-24 16:17] leon-barrett commented on #65
@slipset I've got a Climate Corp manager who's happy to make the transfer. Can he transfer it to your account, and then you can transfer it to clj-commons? https://github.com/TheClimateCorporation/claypoole/issues/52#issuecomment-1020162165

[2022-01-24 18:09] slipset commented on #65
@leon-barrett and @ieugen  I've added you as a member of clj-commons

[2022-01-24 18:09] #65 closed

[2022-01-26 18:24] casselc commented on #62
Sorry for the late response, I've been on vacation the past couple of weeks and just getting caught up on messages. I would be happy to help with maintaining Gloss. As I mentioned to @KingMob, I don't have a lot of Clojure experience, but I also don't expect many code changes will be needed. I've been doing some networking side projects to learn Clojure, so my initial thought was just to use that

[2022-01-28 02:56] KingMob opened #67 "primitive-math"
@ztellman @slipset @piotr-yuxuan

Piotr requested some ns changes to an old, archived library of Zach's, `primitive-math`. They wanted to deprecate the top-level namespace and move code into a multi-segmented ns, as top-level namespaces cause some issues with using GraalVM in [clj-easy's graal-build-time](https://github.com/clj-easy/graal-build-time).

If we're going to make a change, I'd like to

[2022-02-08 01:22] danielcompton commented on #67
If Zach is happy to migrate primitive math, we should also take a look at removing this line:

https://github.com/ztellman/primitive-math/blob/7654d4c86a6a93639dd4d6d074a1fcb5ee64ebc2/project.clj#L15

I was doing some work on Java build stuff (can't remember if it was with Graal or `jdeps`) and having an old class file version caused issues. Sorry I can't remember the specifics, it wasn't a blocke

[2022-02-08 02:06] ztellman commented on #67
Yeah, absolutely happy to migrate it over.

On a related note, it's been suggested that this repo I created when I worked at Factual could be transferred over, as well: https://github.com/Factual/durable-queue/issues/23.  I would expect exceedingly few changes to this repo over time, currently the only outstanding work are some new type-hints to better work with Java 13, but since I can't currentl

[2022-02-08 02:09] ztellman commented on #67
`primitive-math` has been transferred over.

[2022-02-24 19:54] #67 closed

[2022-05-08 22:09] stelcodes commented on #63
Any progress on this? I'd like to integrate Hickory into a library I'm building, but it seems like there is a large maintenance backlog.

[2022-05-08 22:42] davidsantiago commented on #63
I’m a little unclear myself. I was waiting on the invitation to clj-commons
for a transfer option but I think it got held up somewhere along the line.

On Sun, May 8, 2022 at 3:10 PM Stel Abrego ***@***.***> wrote:

[2022-05-08 23:17] danielcompton commented on #63
@davidsantiago have just sent you an invite now.

[2022-06-16 05:00] ieure commented on #63
Looks like ownership was transferred around a month ago -- any updates on getting clj-commons/hickory#62 merged?

I also note that jsoup is now at 1.15.1.

[2022-10-11 09:08] davidsantiago commented on #63
Got it! I think I just transferred the repo over. Let me know if it didn't
work!

On Sun, May 8, 2022 at 4:18 PM Daniel Compton ***@***.***>
wrote:

[2022-10-11 09:14] slipset commented on #63
Repo is transferred!

[2022-10-11 09:14] #63 closed

[2022-10-13 09:02] 13kay opened #68 "onyx"
is there a chance on onyx?
https://github.com/onyx-platform/onyx/issues/887

[2022-10-17 05:49] danielcompton commented on #68
I'd want to see commitment from a few maintainers to work on it. Onyx is a pretty large project. What would the benefit of moving this to clj-commons over adding new maintainers to onyx/starting a fork?

I see a big benefit of clj-commons to be able to make small fixes to stable, mostly done projects (among other things). But Onyx doesn't seem "mostly done" to me, but I could be wrong.

[2022-10-17 06:35] slipset commented on #68
I agree with @danielcompton on this one. Onyx is a bit more than a useful library, more akin to [aleph](https://github.com/clj-commons/aleph) where we are fortunate to have @KingMob et al who are basically running the project. For us to take on onyx, I think we'd need someone like that, but then again, it seems to me that @MichaelDrogalis and @lbradstreet have shown that they're happy to have new

[2022-11-03 22:40] #68 closed